body {
    /* Let's use a different font for the whole body tag and its children. */
    font-family: sans-serif;
    margin: 16px;
  }
  
h1 {
    /* These properties are for all h1 tags. */
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }
  
p {
    /* These properties are for all p tags. */
    font-size: 16px;
    font-weight: normal;
  
    /* Let's set margins for p tags with the properties long form. */
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 1em;
    margin-left: 0;
  }

/* To make two columns for skills in my resume. */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.job {
    font-weight: bold;
    font-style: italic;
}